html,
body,
header,
.view {
    height: 100%;
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .view {
        height: 100vh;
    }
}

.top-nav-collapse {
    background-color: transparent !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: transparent !important;
    }
}

input {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="30"><text x="5" y="19" style="font: bold 16px Arial;">880</text></svg>') no-repeat;
    border: 1px solid #555;
    box-sizing: border-box;
    font: 16px "Arial";
    height: 30px;
    padding-left: 50px;
    width: 300px;
    margin-left: 45px;
}

h1 {
    letter-spacing: 8px;
}

h5 {
    letter-spacing: 3px;
}

.hr-light {
    border-top: 3px solid #fff;
    width: 80px;
}

.phone-input {
    margin-bottom: 4px;
}

body {
    background-color: rgb(255, 255, 255)
}

.height-100 {
    height: 100vh
}

.card {
    width: 400px;
    border: none;
    height: 300px;
    box-shadow: 0px 5px 20px 0px #676a6c;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center
}

.card h6 {
    color: rgb(28, 123, 77);
    font-size: 30px;
    font-weight: 500;
}

.inputs input {
    width: 40px;
    height: 40px
}

.chat-wrapper {
    height: 500px;
    width: 200px;
}